{%load static%}
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block scripts %}
        <script src="{% static 'login.js' %}" defer></script>
        {% endblock scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        

    <div class="text-center">
        <video autoplay="true" id="video-element"></video>
    </div>

    <div id="img-element"></div>

    <div class="text-center mt-3">
        <button class="btn btn-primary" id="capture-btn">take photo</button>
        <button class="btn btn-info" id="reload-btn">reload</button>
    </div> 
    </body>
</html>